{% extends 'base.html.twig' %}

{% block page %}

    <h3>Register a Student</h3>

    <form action='/post/student' method='post'>

        <div class='form-group'>
            <label for='student_name'>Full Name</label>
            <input required type='text' name='student_name' class='form-control'>
        </div>

        <div class='form-group'>
            <label for='date_of_enrollment'>Date of Enrollment</label>
            <input required type='date' name='date_of_enrollment' class='form-control'>
        </div>

        <button type='submit' class='btn btn-info'>Submit</button>
    </form>

    {% if students is not empty %}
        <h3>List of Students</h3>
        <br>

        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Date of Enrollment</th>
                <th>Remove</th>
                <th>Edit</th>
                <th>Courses</th>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>

                        {% if edit_student_id == student.getId %}
                            <form action='/patch/student' method='post'>
                                <input name='_method' value='patch' hidden>
                                <input name='student_id' value = '{{ student.getId }}' hidden>
                                <td>
                                    <div class='form-group'>
                                        <input required type='text' name='student_name' class='form-control' value='{{ student.getName }}'>
                                    </div>
                                </td>
                                <td>
                                    <div class='form-group'>
                                        <input required type='date' name='date_of_enrollment' class='form-control' value='{{ student.getDateOfEnrollment }}'>
                                    </div>
                                </td>
                                <td>
                                    <button type='submit' class='btn btn-xs btn-info'>Save</button>
                                </td>
                            </form>
                        {% else %}
                            <td>{{ student.getName }}</td>
                            <td>{{ student.getDateOfEnrollment|date('m/d/Y') }}</td>
                            <td>
                                <form action='/get/student/{{ student.getId }}/edit' method='get'>
                                    <button type='submit' class='btn btn-xs btn-info'>Edit</button>
                                </form>
                            </td>
                        {% endif %}

                        <td>
                            <form action='/delete/student/{{ student.getId }}' method='post'>
                                <input name='_method' value='delete' hidden>
                                <button type='submit' class='btn btn-xs btn-primary'>Remove</button>
                            </form>
                        </td>
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
